.faq-section {
    position: relative;
    isolation: isolate;
    background-image: url(../images/faq-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}