<div class="section--sm section--top">
    <div class="section__head">
        <div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<div class="text-center">
						<span class="section__subtitle"> DYNAMIC BUILDER </span>
						<h2 class="m-0">Design Anything, Build Everything</h2>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6">
				<div class="text-center placeholder-text placeholder-text--left">
					<span class="placeholder-text__is">Pricing</span>
					<img src="assets/images/about-img-1.png" alt="image" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section__shrink-content">
					<span class="section__subtitle">
						PRICING PLAN
					</span>
					<h2 class="section__title mt-0">
						Investment Plan UI
					</h2>
					<p>
						Provide high security and user-friendly dashboard makes navigation easy even for all type of users. Provide high security and user-friendly dashboard makes navigation easy even for all type of users. Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
					</p>
					<p>
						Provide high security and user-friendly dashboard makes navigation easy even for all type of users. Provide high security and user-friendly dashboard makes navigation easy even for all type of users. 
					</p>
					<a href="#" class="btn btn--xl btn--base">
						Check Live Demo
					  </a>
				</div>
			</div>
		</div>
	</div>
</div>