<div class="section--sm cta-section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="cta">
					<div class="row g-4 justify-content-center align-items-center">
						<div class="col-lg-8 col-xl-6">
							<div class="section__shrink-content-alt">
                                <div class="cta__title">
                                    <h2 class="mt-0 text-light">
                                        Create Your Successful HYIP Investment Website With HYIPLAB
                                    </h2>
                                    <p class="text-light">
                                        HYIPLAB has the tools and features that help you build an
                                        extensive HYIP website to lead the market in the most secure
                                        way.
                                    </p>
                                </div>
								
								<a href="#" class="btn btn--xl btn--base"> Buy Now </a>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="text-center">
								<img
									src="assets/images/dashboard.png"
									alt="image"
									class="img-fluid"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
