<div class="section--sm">
	<div class="section__head">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<div class="text-center">
						<span class="section__subtitle"> FEEDBACK </span>
						<h2 class="m-0">One Solution, Tons of Features Dive in</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="feedback-slider">
					<div class="feedback-slider__item">
						<div class="feedback-card">
							<div class="feedback-card__header">
								<h5 class="feedback-card__title">Design Quality</h5>
								<ul class="list list--row feedback-card__rating">
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
								</ul>
							</div>
							<div class="feedback-card__body">
								<p class="m-0">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
									ipsam id inventore laudantium sit quisquam, voluptas laborum
									porro officia nesciunt impedit aliquam repellendus asperiores
									error saepe velit, veritatis hic nihil.
								</p>
							</div>
							<div class="feedback-card__footer">
								<div class="feedback-card__user">
									<img
										src="assets/images/user.png"
										alt="image"
										class="feedback-card__user-img"
									/>
								</div>
								<div class="feedback-card__footer-content">
									<h6 class="feedback-card__username">Peter Parker</h6>
									<span class="feedback-card__designation">Viserlab inc.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="feedback-slider__item">
						<div class="feedback-card">
							<div class="feedback-card__header">
								<h5 class="feedback-card__title">Customer Support</h5>
								<ul class="list list--row feedback-card__rating">
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
								</ul>
							</div>
							<div class="feedback-card__body">
								<p class="m-0">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
									ipsam id inventore laudantium sit quisquam, voluptas laborum
									porro officia nesciunt impedit aliquam repellendus asperiores
									error saepe velit, veritatis hic nihil.
								</p>
							</div>
							<div class="feedback-card__footer">
								<div class="feedback-card__user">
									<img
										src="assets/images/user.png"
										alt="image"
										class="feedback-card__user-img"
									/>
								</div>
								<div class="feedback-card__footer-content">
									<h6 class="feedback-card__username">Peter Parker</h6>
									<span class="feedback-card__designation">Viserlab inc.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="feedback-slider__item">
						<div class="feedback-card">
							<div class="feedback-card__header">
								<h5 class="feedback-card__title">Code Quality</h5>
								<ul class="list list--row feedback-card__rating">
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
								</ul>
							</div>
							<div class="feedback-card__body">
								<p class="m-0">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
									ipsam id inventore laudantium sit quisquam, voluptas laborum
									porro officia nesciunt impedit aliquam repellendus asperiores
									error saepe velit, veritatis hic nihil.
								</p>
							</div>
							<div class="feedback-card__footer">
								<div class="feedback-card__user">
									<img
										src="assets/images/user.png"
										alt="image"
										class="feedback-card__user-img"
									/>
								</div>
								<div class="feedback-card__footer-content">
									<h6 class="feedback-card__username">Peter Parker</h6>
									<span class="feedback-card__designation">Viserlab inc.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="feedback-slider__item">
						<div class="feedback-card">
							<div class="feedback-card__header">
								<h5 class="feedback-card__title">Design Quality</h5>
								<ul class="list list--row feedback-card__rating">
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
									<li>
										<span class="feedback-card__star">
											<i class="fas fa-star"></i>
										</span>
									</li>
								</ul>
							</div>
							<div class="feedback-card__body">
								<p class="m-0">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
									ipsam id inventore laudantium sit quisquam, voluptas laborum
									porro officia nesciunt impedit aliquam repellendus asperiores
									error saepe velit, veritatis hic nihil.
								</p>
							</div>
							<div class="feedback-card__footer">
								<div class="feedback-card__user">
									<img
										src="assets/images/user.png"
										alt="image"
										class="feedback-card__user-img"
									/>
								</div>
								<div class="feedback-card__footer-content">
									<h6 class="feedback-card__username">Peter Parker</h6>
									<span class="feedback-card__designation">Viserlab inc.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
