<!-- Footer  -->
<footer class="footer">
	<div class="section--sm">
		<div class="container">
			<div class="row g-4 justify-content-xl-between">
				<div class="col-12">
					<a href="index.html" class="logo mx-auto mb-3">
						<img
							src="assets/images/logo.png"
							alt="viserhyip"
							class="img-fluid logo__is"
						/>
					</a>
					<ul class="list list--row flex-wrap justify-content-center mb-3">
						<li>
							<a href="#" class="t-link social-list__icon">
								<i class="lab la-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="#" class="t-link social-list__icon">
								<i class="lab la-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" class="t-link social-list__icon">
								<i class="lab la-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="#" class="t-link social-list__icon">
								<i class="lab la-instagram"></i>
							</a>
						</li>
					</ul>
					<p class="m-0 text-center text--white">
						Advanced HYIP Investment Management Script is brought to you by
						Viserlab Team.
					</p>
					<p class="m-0 text-center sm-text text--white">
						&copy; Copyright 2022 | HYIPLab HYIP Manager by Viserlab | All
						rights reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->
