<!-- Hero  -->
<section class="hero">
  <div class="hero__content">
    <div class="container">
      <div class="row gx-3 gy-5 align-items-center justify-content-center">
        <div class="col-lg-10 col-xl-9 col-xxl-8 text-center">
          <h1 class="hero__content-title title-style title-style--gradient title-style--gradient-1">
            Your One-Stop Solution for <span>HYIP Manager</span>
          </h1>
          <p class="hero__content-para text--white mx-auto">
            Build a professional HYIP investment website and Give Your Business a One-Up.
          </p>

          <div class="hero__btn-group">
            <a href="#" class="btn btn--xxl btn--base">
              Check Live Demo
            </a>
            <a href="#" class="btn btn--xxl btn--success">
              Buy Now
            </a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="hero__img">
            <img src="assets/images/hero-img.png" alt="images" class="img-fluid hero__img-is">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__elements">
    <img src="assets/images/shape-1.png" alt="image" class="img-fluid hero__elements-img hero__elements-img-1">
    <img src="assets/images/shape-2.png" alt="image" class="img-fluid hero__elements-img hero__elements-img-2">
    <img src="assets/images/shape-3.png" alt="image" class="img-fluid hero__elements-img hero__elements-img-3">
    <img src="assets/images/shape-4.png" alt="image" class="img-fluid hero__elements-img hero__elements-img-4">
    <img src="assets/images/shape-5.png" alt="image" class="img-fluid hero__elements-img hero__elements-img-5">
    <img src="assets/images/shape-6.png" alt="image" class="img-fluid hero__elements-img hero__elements-img-6">
  </div>
</section>
<!-- Hero End -->
