<!-- Hero  -->
<section class="hero">
  <div class="hero__content">
    <div class="container">
      <div class="row g-3 align-items-center">
        <div class="col-lg-7 col-xxl-6 text-center text-lg-start">
          <h1 class="hero__content-title text-capitalize text--white">
            Binary Multi Level Marketing
          </h1>
          <p class="text--white t-short-para mx-auto ms-lg-0">
            We are a certified leading company in Binary Multi-Level Marketing
            business. Be a part of our community today by investing money and
            getting a good profit form us.
          </p>

          <div class="mx-auto">
            <a href="#" class="btn btn--xxl btn--base mt-3">
              Become an Pilot
            </a>
          </div>

          <ul
            class="list list--row mt-4 align-items-center justify-content-center justify-content-lg-start"
          >
            <li class="list--row__item-xl">
              <ul class="list user-group-list">
                <li>
                  <div class="user">
                    <div class="user__img user__img--lg">
                      <img
                        src="./assets/images/people-3.jpg"
                        alt="mlmking"
                        class="user__img-is"
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="user">
                    <div class="user__img user__img--lg">
                      <img
                        src="./assets/images/people-4.jpg"
                        alt="mlmking"
                        class="user__img-is"
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="user">
                    <div class="user__img user__img--lg">
                      <img
                        src="./assets/images/people-5.jpg"
                        alt="mlmking"
                        class="user__img-is"
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="user">
                    <div class="user__img user__img--lg">
                      <img
                        src="./assets/images/people-6.jpg"
                        alt="mlmking"
                        class="user__img-is"
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="user">
                    <div class="user__img user__img--lg">
                      <img
                        src="./assets/images/people-7.jpg"
                        alt="mlmking"
                        class="user__img-is"
                      />
                    </div>
                  </div>
                </li>
                <li>
                  <a
                    href="#"
                    class="t-link t-link--light icon icon--circle icon--md bg--base text--white"
                  >
                    <i class="las la-ellipsis-h"></i>
                  </a>
                </li>
              </ul>
            </li>
            <li class="list--row__item-xl">
              <p class="mb-0 fw-bold text--base sm-text">4M Users</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->
