<div class="section--sm wow animate__animated animate__fadeInUp" data-wow-offset="20" data-wow-duration="2s" data-wow-delay=".5s">
    <div class="section__head">
        <div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<div class="text-center">
						<span class="section__subtitle"> FEATURES </span>
						<h2 class="m-0">One Solution, Tons of Features Dive in</h2>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="feature-card text-center">
                    <div class="feature-card__img">
                        <img src="assets/images/feat-img-1.png" alt="image" class="img-fluid">
                    </div>
                    <h4 class="mb-2">
                        Easy Installation
                    </h4>
                    <p class="mb-0">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card text-center">
                    <div class="feature-card__img">
                        <img src="assets/images/feat-img-2.png" alt="image" class="img-fluid">
                    </div>
                    <h4 class="mb-2">
                        Fully Dynamic Scheme
                    </h4>
                    <p class="mb-0">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card text-center">
                    <div class="feature-card__img">
                        <img src="assets/images/feat-img-3.png" alt="image" class="img-fluid">
                    </div>
                    <h4 class="mb-2">
                        Holiday Management
                    </h4>
                    <p class="mb-0">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card text-center">
                    <div class="feature-card__img">
                        <img src="assets/images/feat-img-4.png" alt="image" class="img-fluid">
                    </div>
                    <h4 class="mb-2">
                        Promotional Tool
                    </h4>
                    <p class="mb-0">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card text-center">
                    <div class="feature-card__img">
                        <img src="assets/images/feat-img-5.png" alt="image" class="img-fluid">
                    </div>
                    <h4 class="mb-2">
                        Reporting System
                    </h4>
                    <p class="mb-0">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-card text-center">
                    <div class="feature-card__img">
                        <img src="assets/images/feat-img-6.png" alt="image" class="img-fluid">
                    </div>
                    <h4 class="mb-2">
                        KYC Verification
                    </h4>
                    <p class="mb-0">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>