<div class="section--sm wow animate__animated animate__fadeInUp" data-wow-offset="20" data-wow-duration="2s" data-wow-delay=".5s">
	<div class="section__head">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<div class="text-center">
						<span class="section__subtitle"> FEATURES </span>
						<h2 class="m-0">One Solution, Tons of Features Dive in</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-12">
				<ul class="list list--row justify-content-center flex-wrap secondary-feature--list">
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-support.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> 24/7 Support </span>
						</div/>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-document.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Well Documented </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-update.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Lifetime Update </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-optimization.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Optimized </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-installer.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Easy Installation </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-multilangual.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Multilingual </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-bootstrap.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Bootstrap 5 </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-font.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Google Font </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-browser-support.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> All browser Support </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-responsive.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Responsive </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-website.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Multiple Templates </span>
						</div>
					</li>
					<li>
						<div class="secondary-feature">
							<div class="secondary-feature__icon">
								<img src="assets/images/icon-code.png" alt="image" class="secondary-feature__icon-is" />
							</div>
							<span class="secondary-feature__title"> Clean Code </span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
