<div class="section--sm">
    <div class="section ui-section wow animate__animated animate__fadeIn" data-wow-offset="15" data-wow-duration="2.5s" data-wow-delay=".5s">
        <div class="container wow animate__animated animate__fadeInUp" data-wow-offset="15" data-wow-duration="3s" data-wow-delay=".7s">
            <div class="row g-4 gy-lg-0 align-items-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="assets/images/ui.png" alt="image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section__shrink-content">
                        <span class="section__subtitle">
                            CLEAN UI
                        </span>
                        <h2 class="mt-0">
                            Modern Slick Design
                        </h2>
                        <p>
                            Provide high security and user-friendly dashboard makes navigation easy even for all type of users. Provide high security and user-friendly dashboard makes navigation easy even for all type of users. Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                        </p>
                        <p>
                            Provide high security and user-friendly dashboard makes navigation easy even for all type of users. Provide high security and user-friendly dashboard makes navigation easy even for all type of users. 
                        </p>
                        <a href="#" class="btn btn--xl btn--base">
                            Check Live Demo
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>