<div class="section--sm wow animate__animated animate__fadeInUp" data-wow-offset="20" data-wow-duration="2s" data-wow-delay=".5s">
	<div class="section__head">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<div class="text-center">
						<span class="section__subtitle"> USER </span>
						<h2 class="m-0">User Features</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--1">
                    <span class="user-feature__icon">
                        <span class="icon-cs-23"></span>
                    </span>
                    <h5 class="user-feature__title">
                        Easy Withdrawal
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--2">
                    <span class="user-feature__icon">
                        <span class="icon-cs-8"></span>
                    </span>
                    <h5 class="user-feature__title">
                        Multiple Payment Gateway
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--3">
                    <span class="user-feature__icon">
                        <span class="icon-cs-45"></span>
                    </span>
                    <h5 class="user-feature__title">
                        Easy Transfer
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--4">
                    <span class="user-feature__icon">
                        <span class="icon-cs-90"></span>
                    </span>
                    <h5 class="user-feature__title">
                        2FA Security
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--5">
                    <span class="user-feature__icon">
                        <span class="icon-cs-11"></span>
                    </span>
                    <h5 class="user-feature__title">
                        Easy Deposit
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--6">
                    <span class="user-feature__icon">
                        <span class="icon-cs-9"></span>
                    </span>
                    <h5 class="user-feature__title">
                        Details Report
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--7">
                    <span class="user-feature__icon">
                        <span class="icon-cs-50"></span>
                    </span>
                    <h5 class="user-feature__title">
                        Referral Commission
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="user-feature user-feature--8">
                    <span class="user-feature__icon">
                        <span class="icon-cs-75"></span>
                    </span>
                    <h5 class="user-feature__title">
                        24/7 Support
                    </h5>
                    <p class="user-feature__description">
                        Provide high security and user-friendly dashboard makes navigation easy even for all type of users.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
