<!-- meta tags and other links -->
  @@include('../partials/_template-top.html')


    @@include('../partials/_header.html')
<main class="section--sm py-0 main-container" id="butter">
    @@include('../partials/_hero.html')
    @@include('../partials/_usage.html')
    @@include('../partials/_ui-section.html')
    @@include('../partials/_user-feature.html')
    @@include('../partials/_user-feature-image.html')
    @@include('../partials/_about.html')
    @@include('../partials/_primary-features.html')
    @@include('../partials/_faq.html')
    @@include('../partials/_secondary-features.html')
    @@include('../partials/_feedback.html')
    @@include('../partials/_cta.html')
    @@include('../partials/_footer.html')
</main>
    
    @@include('../partials/_template-bottom.html')
    <!-- main js -->
    <script src="assets/js/app.js"></script>
  </body>
</html>