.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  @include base-bg;
  @include light-clr;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  z-index: 99;
  font-size: 16px;
  cursor: pointer;
  @include dark-shadow(0, 0, 5px, 0, .5);
  display: none;
}
