.custom--check {
    border-radius: 1px !important;
    border: 1px solid $border;
    background: $light;
    &:checked {
        @include base-bg;
        @include base-border(1px, .5);
    }
    &:focus {
        @include base-border(1px, .5);
        box-shadow: none;
    }
}