.form--control {
  height: 50px;
  line-height: 48px;
  border-radius: 3px;
  font-size: 16px;
  border: 1px solid lighten($accent-clr, 15%);
  background: lighten($accent-clr, 1%);
  color: var(--white);
  transition: all 0.3s ease;
  &::placeholder {
    text-transform: capitalize;
    color: rgba($light, 0.5);
  }
  &:focus {
    color: var(--white);
    outline: none;
    @include base-border(1px, 0.3);
    background: lighten($accent-clr, 3%);
    box-shadow: none;
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: var(--white) !important;
    -webkit-box-shadow: 0 0 0px 1000px $accent-clr inset;
  }
  &-outline {
    background: transparent;
    &:focus {
      background: transparent;
      outline: none;
      box-shadow: none;
    }
    &-light {
      border-color: var(--white);
      color: var(--white);
      &::placeholder {
        color: var(--white);
      }
      &:focus {
        border-color: var(--white);
        color: var(--white);
      }
    }
    &-dark {
      border-color: $border;
      color: $text-clr;
      &::placeholder {
        color: rgba($text-clr, 0.7);
      }
      &:focus {
        border-color: $border;
        color: $text-clr;
      }
    }
  }
  &-textarea {
    padding-top: 15px;
    border-radius: 3px;
    font-size: 16px;
    color: var(--white);
    border: 1px solid lighten($accent-clr, 15%);
    background: lighten($accent-clr, 1%);
    transition: all 0.3s ease;
    &::placeholder {
      text-transform: capitalize;
      color: rgba($light, 0.5);
    }
    &:focus {
      color: var(--white);
      outline: none;
      @include base-border(1px, 0.3);
      background: lighten($accent-clr, 3%);
      box-shadow: none;
    }
  }
  &[readonly] {
    @include base-bg;
    @include base-border;
    color: var(--white);
  }
  &[disabled] {
    @include base-bg;
    @include base-border;
    color: var(--white);
  }
}
.input-group-text {
  border: 1px solid $border;
  border-right: none;
  background: $light;
}
