.header-primary {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 19;

    &--sticky {
        position: sticky;
        top: 0;
        background: hsl(var(--dark));
    }

    &--fixed {
        position: absolute;
        transition: all .3s ease;
    }

    &__content {
        @include lg-screen {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
}