.header {
    padding: 15px 0;
    position: relative;
    z-index: 10;
    @include lg-screen {
        padding: 0;
    }
    &--primary {
        padding: 10px 0;
        position: absolute;
        width: 100%;
        background: hsl(var(--accent-600)/.3);
        z-index: 10;
        transition: all .3s ease;
    }
}