.input--group {
    .input-group-text {
      display: grid;
      place-items: center;
      padding-inline: 15px;
      border: 1px solid hsl(var(--base) / 0.3);
      border-right: none;
      background: hsl(var(--base));
      color: hsl(var(--accent-100));
    }
  }