.newsletter {
  border: 2px solid rgb(var(--base));
    padding: 5px;
    max-width: 550px;
    &__container {
        display: flex;
        padding: 5px;
        background-color: hsl(var(--white));
    }
    
    &__input {
        background: transparent;
        border: none;
        color: hsl(var(--heading));
        font-size: 14px;
        &:focus {
          color: hsl(var(--heading));
            outline: none;
            box-shadow: none;
            border-color: transparent;
            background-color: transparent;
            border-width: 0;
          }
          &::placeholder {
            color: hsl(var(--text));
          }
    }
}