.placeholder-text {
    position: relative;
    isolation: isolate;

    &--left {
        .placeholder-text__is {
            left: -100px;
            transform: translateY(-50%) scale(-1);
        }
    }

    &--right {
        .placeholder-text__is {
            right: -100px;
        }
    }

    &__is {
        display: none;
        position: absolute;
        top: 50%;
        writing-mode: vertical-rl;
        transform: translateY(-50%);
        font-family: var(--style-font);
        font-size: var(--d1);
        line-height: 1;
        background: linear-gradient(90deg, hsl(var(--dark)/.01), hsl(var(--dark)/.2));
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        @include xxl-screen {
            display: inline-block;
        }
    }
}