.section {
  padding-top: clamp(60px, 8vw, 120px);
  padding-bottom: clamp(60px, 8vw, 120px);

  &--sm {
    padding-top: clamp(30px, 4vw, 60px);
    padding-bottom: clamp(30px, 4vw, 60px);
  }

  &--top {
    padding-top: clamp(60px, 8vw, 120px);
  }

  &--bottom {
    padding-bottom: clamp(60px, 8vw, 120px);
  }

  &__head {
    padding-bottom: clamp(30px, 4vw, 60px);
  }

  &__para {
    max-width: 60ch;
  }

  &__subtitle {
    display: inline-block;
    position: relative;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: var(--heading-font);
    color: hsl(var(--base));
  }

  &__shrink-content {
    @include xli-screen {
      padding-left: 70px;
    }

    &-alt {
      @include xli-screen {
        padding-right: 70px;
      }
    }
  }
}