.secondary-feature--list {
    @include xl-screen {
        row-gap: 2rem;
        column-gap: .5rem;
    }

    li {
        width: calc(50% - 1rem);

        @include sm-screen {
            width: calc(33% - 1rem);
        }

        @include md-screen {
            width: calc(25% - 1rem);
        }

        @include lg-screen {
            width: calc(20% - 1rem);
        }

        @include xl-screen {
            width: calc(16.6% - 1rem);
        }
        &:nth-of-type(1) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100%);
            }
        }
        &:nth-of-type(2) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #60efff 0%, #00ff87 100% );
            }
        }
        &:nth-of-type(3) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
            }
        }
        &:nth-of-type(4) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100% );
            }
        }
        &:nth-of-type(5) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
            }
        }
        &:nth-of-type(6) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #c6f8ff 0%, #595cff 100% );
            }
        }
        &:nth-of-type(7) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #f8acff 0%, #696eff 100% );
            }
        }
        &:nth-of-type(8) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #ffc8c8 0%, #ff5858 100% );
            }
        }
        &:nth-of-type(9) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #b84fce 0%, #d4acfb 100% );
            }
        }
        &:nth-of-type(10) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #aefb2a 0%, #57ebde 100% );
            }
        }
        &:nth-of-type(11) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #03E5B7 0%, #037ADE 100% );
            }
        }
        &:nth-of-type(12) {
            .secondary-feature__icon::before {
                background: linear-gradient(-45deg, #FFF000 0%, #ED008C 100% );
            }
        }
    }
}

.secondary-feature {
    text-align: center;

    &__icon {
        width: 90px;
        height: 90px;
        display: grid;
        place-content: center;
        place-items: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-radius: 10px;
        background: hsl(var(--white));
        box-shadow: 0 0 8px hsl(var(--dark)/.05);

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translate3d(0px, 10px, 0) scale(0.95);
            filter: blur(20px);
            opacity: .25;
            transition: opacity 0.3s;
            border-radius: inherit;
        }

        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            border-radius: inherit;
        }

        &-is {
            width: 85%;
            height: 85%;
            object-fit: contain;
        }
    }

    &__title {
        display: block;
        margin-top: .5rem;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;

        @include xl-screen {
            margin-top: 1rem;
        }
    }
}