@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  // TypoGraphy
  --heading-font: "Inter", sans-serif;
  --body-font: 'Roboto', sans-serif;

  --d1: clamp(3.5rem, 6vw + 1rem, 6.25rem); //Max: 100px
  --h1: clamp(2.8125rem, 4vw + 1rem, 4.209rem); //Min:45px - Max:67.34px
  --h2: clamp(2.0625rem, 3vw + 1rem, 3.1575rem); //Min: 33px - Max: 50.52px
  --h3: clamp(1.875rem, 2.7vw + 1rem, 2.369rem); //Min: 30px - Max: 37.90px
  --h4: clamp(1.4rem, 2vw + 1rem, 1.777rem); //28.43px
  --h5: 1.333rem; //21.33px
  --h6: 1rem;

  // Base Colors
  --base-h: 151;
  --base-s: 68%;
  --base-l: 48%;
  --base: var(--base-h) var(--base-s) var(--base-l);
  --base-dark: var(--base-h) var(--base-s) calc(var(--base-l) - 28%);

  // Accent Color 
  --accent-h: 41;
  --accent-s: 100%;
  --accent-l: 53%;
  --accent: var(--accent-h) var(--accent-s) var(--accent-l);
  --accent-dark: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 33%);

  //Light Color
  --light-h: 186;
  --light-s: 49%;
  --light-l: 92%;
  --light: var(--light-h) var(--light-s) var(--light-l);

  //Dark Color
  --dark: 230 20% 20%;
  --dark-100: 230 20% 40%;
  --dark-200: 230 20% 35%;
  --dark-300: 230 20% 30%;
  --dark-400: 230 20% 25%;
  --dark-500: 230 20% 15%;
  --dark-600: 230 20% 10%;
  --dark-700: 230 20% 5%;
  --dark-800: 230 20% 0%;

  // Black Color Shade 
  --black-h: 0;
  --black-s: 0%;
  --black-l: 0%;
  --black: var(--black-h) var(--black-s) var(--black-l);

  // White Color 
  --white: 0 0% 100%;

  //Bootstrap Modifier
  --primary: 204 88% 44%;
  --secondary: 208 23% 55%;
  --success: 161 74% 45%;
  --danger: 5 76% 55%;
  --warning: 43 99% 49%;
  --info: 190 76% 40%;

  --text: var(--black);
  --heading: var(--black);
  --border: 0 0% 88%;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  background: hsl(var(--white));
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: hsl(var(--text));
}

// Typography
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1.38rem;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.2;
  color: hsl(var(--heading));

}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
  letter-spacing: .05em;
}

.xsm-text {
  font-size: .75rem;
}

small,
.sm-text {
  font-size: .875rem;
}

.lg-text {
  font-size: 1.125rem;
}

.xl-text {
  font-size: 1.25rem;
}

.xxl-text {
  font-size: 1.5rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-md {
  font-weight: 500;
}

.lh-1 {
  line-height: 1;
}

.hr {
  background-color: hsl(var(--base));
}

// Button Default
button {
  &:focus {
    outline: none !important;
  }
}

.btn:focus,
.btn.focus {
  outline: none;
  box-shadow: none;
}

// Form Control Default
input:focus {
  outline: none;
}

.form-control {
  border: 1px solid hsl(var(--border));
}

textarea {
  resize: none;
}

.container-restricted {
  @include xliv-screen {
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}